* {
  margin: 0;
  padding: 0;
}

.sliderContainer {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 50px;
}

.arrowContainer {
  position: relative;
  width: 75%;
  height: 400px;
  margin-left: 12.5%;
}

.viewingContainer {
  position: relative;
  width: 100%;
  height: 400px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.arrows {
  position: absolute;
  z-index: 1;
  width: 5%;
}

#leftArrow {
  left: 0;
  top: 180px;
}

#rightArrow {
  right: 0px;
  top: 180px;
}

.arrows:hover {
  cursor: pointer;
}

.leftArrow {
  float: left;
}

.rightArrow {
  float: right;
}
.innerSliderContainer {
  position: relative;
  width: 300%;
  height: 400px;
}

.slider1 {
  width: 33.33%;
  height: 400px;
  float: left;
  text-align: center;
}

.slider2 {
  width: 33.33%;
  float: left;
  text-align: center;
}

.slider3 {
  width: 33.33%;
  float: left;
  text-align: center;
}

.sliderImage {
  max-height: 400px;
}

.tabs {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

.tabIndicater {
  display: inline-block;
  width: 5%;
  height: 10px;
  margin-left: 1%;
  background-color: grey;
}

.tabIndicater:hover {
  cursor: pointer;
}
