* {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  background-color: red;
  width: 70%;
  margin-left: 15%;
  margin-top: 75px;
  min-height: 400px;
  overflow-x: hidden;
}

.innerContainer {
  width: 300%;
  min-height: 450px;
  background-color: purple;
}

.slider1 {
  width: 33.33%;
  float: left;
  text-align: center;
  background-color: orange;
}

.slider2 {
  width: 33.33%;
  float: left;
  text-align: center;
  background-color: blue;
}

.slider3 {
  width: 33.33%;
  float: left;
  text-align: center;
  background-color: green;
}

.tabIndicater {
  width: 20px;
  height: 20px;
  background-color: grey;
  display: inline-block;
}

.tabIndicater:hover {
  cursor: pointer;
}

.arrows:hover {
  cursor: pointer;
}
